html, body {
    margin: 0;
}

.maincontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A7D3A6;
}

.test {
    display: flex;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #ADD2C2;
}

.gameboard{

    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    width: 300px;
    height: 300px;
   

}

.gameboard > div {
    color: #604D53
}

.reset{
    margin-bottom: 10px;
}

button{
    padding: 10px 15px;
    background-color: #D4C685;
}

.start{
    margin-top: 10px;
}